body {
	font-family: 'Montserrat';
	margin: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lime;
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}
.navbar li a.active {
	background-color: gold;
}

#main-content {
	display: grid;
}

iframe {
	width: 100vw;
	height: 75vw;
}

form * * {
	margin-bottom: 10px;
}

@media screen and (min-width: 1000px){
	.navbar li {
		border-left: medium solid black;
	    float: left;
	}
	.navbar li:last-child {
		float: right;
	}
	.navbar li a {
	    padding-left: 3px;
	}

	#main-content {
		grid-template-columns: auto auto;
	}
	/*youtube-video*/
	iframe {
		position: relative;
		top: 30%;
		width: 420px;
		height: 315px;
	}
	/*google-maps*/
	iframe#map {
		top: 8px;
		width: 60vw;
		height: 45vw;
	}

	label + input,label + div {
		float: right;
		margin-bottom: 0px;
	}
}
